18_MonitoringJarak/Node_RED/flow.json
[
    {
        "id": "1d9be527af770c36",
        "type": "tab",
        "label": "Monitoring Jarak",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f1b7b89f4c7f4b1b",
        "type": "mqtt in",
        "z": "1d9be527af770c36",
        "name": "Sensor Jarak MQTT Input",
        "topic": "sensor/hcsr04/idearen-02-10/andri/jarak",
        "qos": "0",
        "datatype": "auto",
        "broker": "b15f5776.8d705",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 320,
        "wires": [
            [
                "61c5f1dcb7d7e59f",
                "4a9f3ac449c98245"
            ]
        ]
    },
    {
        "id": "61c5f1dcb7d7e59f",
        "type": "ui_gauge",
        "z": "1d9be527af770c36",
        "name": "Gauge Jarak",
        "group": "e748d158a3f3a43a",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Jarak (cm)",
        "label": "cm",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 410,
        "y": 260,
        "wires": []
    },
    {
        "id": "c5bcdb8f5e4f8f6f",
        "type": "switch",
        "z": "1d9be527af770c36",
        "name": "Check Threshold",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "threshold",
                "vt": "flow"
            },
            {
                "t": "lte",
                "v": "threshold",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 340,
        "wires": [
            [
                "b5e85e89d801f7ca"
            ],
            [
                "577d02d7e915ea1c"
            ]
        ]
    },
    {
        "id": "a45cbd82d07cd98b",
        "type": "mqtt out",
        "z": "1d9be527af770c36",
        "name": "Relay/Buzzer",
        "topic": "command/idearen-02-10/andri/buzzer",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b15f5776.8d705",
        "x": 970,
        "y": 500,
        "wires": []
    },
    {
        "id": "405cb0674a9631b5",
        "type": "ui_button",
        "z": "1d9be527af770c36",
        "name": "Relay ON Manual",
        "group": "e748d158a3f3a43a",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Relay ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "command/idearen-02-10/buzzer",
        "topicType": "str",
        "x": 410,
        "y": 500,
        "wires": [
            [
                "a45cbd82d07cd98b"
            ]
        ]
    },
    {
        "id": "8b01e024d4a2ef23",
        "type": "ui_button",
        "z": "1d9be527af770c36",
        "name": "Relay OFF Manual",
        "group": "e748d158a3f3a43a",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Relay OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "command/idearen-02-10/buzzer",
        "topicType": "str",
        "x": 410,
        "y": 540,
        "wires": [
            [
                "a45cbd82d07cd98b"
            ]
        ]
    },
    {
        "id": "d7a1a38a33c47a36",
        "type": "change",
        "z": "1d9be527af770c36",
        "name": "Set Threshold",
        "rules": [
            {
                "t": "set",
                "p": "threshold",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "9b89db01f4345786",
        "type": "ui_slider",
        "z": "1d9be527af770c36",
        "name": "Slider Threshold",
        "label": "Threshold Jarak",
        "tooltip": "",
        "group": "e748d158a3f3a43a",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "end",
        "topic": "threshold",
        "topicType": "str",
        "min": "0",
        "max": "50",
        "step": "1",
        "className": "",
        "x": 120,
        "y": 440,
        "wires": [
            [
                "d7a1a38a33c47a36"
            ]
        ]
    },
    {
        "id": "b5e85e89d801f7ca",
        "type": "change",
        "z": "1d9be527af770c36",
        "name": "Relay ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 320,
        "wires": [
            [
                "a45cbd82d07cd98b"
            ]
        ]
    },
    {
        "id": "577d02d7e915ea1c",
        "type": "change",
        "z": "1d9be527af770c36",
        "name": "Relay OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 400,
        "wires": [
            [
                "a45cbd82d07cd98b"
            ]
        ]
    },
    {
        "id": "156cb3c80848392a",
        "type": "ui_switch",
        "z": "1d9be527af770c36",
        "name": "",
        "label": "Enable Auto Mode",
        "tooltip": "",
        "group": "e748d158a3f3a43a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "7c71b5393a7be3fb"
            ]
        ]
    },
    {
        "id": "7c71b5393a7be3fb",
        "type": "change",
        "z": "1d9be527af770c36",
        "name": "Set AutoMode",
        "rules": [
            {
                "t": "set",
                "p": "automode",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "4a9f3ac449c98245",
        "type": "switch",
        "z": "1d9be527af770c36",
        "name": "Check AutoMode",
        "property": "automode",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 340,
        "wires": [
            [
                "c5bcdb8f5e4f8f6f"
            ]
        ]
    },
    {
        "id": "b15f5776.8d705",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e748d158a3f3a43a",
        "type": "ui_group",
        "name": "Monitor Jarak",
        "tab": "f9ae59c8d14a22ed",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f9ae59c8d14a22ed",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]